################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DefaultHttpClientFactory/.vs/DefaultHttpClientFactory
/DefaultHttpClientFactory/obj
/DefaultHttpClientFactory/bin/Debug/netcoreapp2.2
/NamedHttpClientFactory/.vs/NamedHttpClientFactory/v16/Server/sqlite3
/NamedHttpClientFactory/obj/Debug/netcoreapp2.2
